# Data Science Tools and Ecosystem

### This notebook contain a summery of the Data Science Tools and Ecosystem

**Objectives:**
+ List popular languages for Data Science
+ List some of the commonly used libraries used by Data Scientists
+ Create a Table 
+ List a few examples of evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

1. Panda, Numpy (Scientific computing libraries)
    
2. Matplotlib, Seaborn (Visualization libraries)
   
3. Scikit_learn, Keras (Machine learning libraries)
   
4. TensorFlow, Pytorch (Deep learning libraries)

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

+ x = 10 + 20
+ y = x / 2
+ z = x + y

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

mtime = 200
htime = mtime / 60
print(htime)

3.3333333333333335

## Author
Alhaitham Ali